@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

$theme-colors: (
  "primary": #2ad576,
  "secondary": #6ae2a0,
  "warning": #f1b927,
  "danger": #ed5252,
);

$extra-colors: (
  "blue": rgb(0, 131, 253),
  "red": rgb(255, 50, 50),
  "orange": orange,
  "chocolate": chocolate,
);

$header-height: 100px;
$base-text-margin: 10px;
$base-font-size: 16px;
