@import "./variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// FontAwesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

//base
@import "./base/text";
@import "./base/section";
@import "./base/article";
@import "./base/hr";

//override
@import "./override/btn";
@import "./override/detailpasar";

//util
@import "./util/text";
@import "./util/container";
@import "./util/color";
@import "./util/flex";

//animation
@import "./animation/slide";
* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  height: 100%;
}

:root {
  font-size: 16px;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
