@media (min-width: 370px){

    .jumbotron {
        height: 100%;
    }
    .jumbotron h1 {
        font-size: 3em;
    }
    .jumbotron p {
        font-size: 15px;
    }

    .col-sm img {
        width: 80%;
    }
    .card {
        width: 10rem;
    }

    .card-columns {
        column-count: 2;
    }
  }
  @media (min-width: 500px){
    .jumbotron {
        height: 100%;
    }

    .jumbotron {
        border-radius: 25px;
    }   

    .col-sm img {
        width: 100%;
        float: right;
    }

    .jumbotron h1 {
        font-size: 4em;
    }
    .jumbotron p {
        font-size: 20px;
    }
    .card {
        width: 12rem;
    }
  }

  @media (min-width: 600px){
    .jumbotron {
        height: 100%;
    }

    .jumbotron {
        border-radius: 25px;
    }   

    .col-sm img {
        width: 100%;
        float: right;
    }

    .jumbotron h1 {
        font-size: 4em;
    }
    .jumbotron p {
        font-size: 20px;
    }
    .card {
        width: 12rem;
    }
  }


  @media (min-width: 1000px){
    .jumbotron {
        height: 100%;
    }

    .jumbotron {
        border-radius: 25px;
    }   


    .jumbotron h1 {
        font-size: 4em;
    }
    .jumbotron p {
        font-size: 20px;
    }
    .col-sm img {
        width: 90%;
        float: right;
    }
    .card {
        width: 12rem;
    }
  }
