.daftarpesanan{
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 30px;
}

.list{
    border-radius: 20px;
    background-color: green;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 2%;
}

.card{
    color: red;
}

.button{
    margin: 5px;
}

.content{
    color: white;
}

.profpic {
    max-width: 50px;
    max-height: 50px;
    margin-right: 5%;
}

.displayName{
    font-size: large;
}