.cartitem {
  position: relative;
  border-radius: 7px;
  background-color: white;
  margin-bottom: 10px;
}

.cartitemhide {
  position: relative;
  border-radius: 7px;
  background-color: white;
  margin-bottom: 10px;
  display: none !important;
}

.gambarbarang {
  width: 65px;
  height: 65px;
  border-radius: 15px;
  object-fit: cover;
}

.totalDelivery {
  position: relative;
  display: flex;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.proceed {
  position: fixed;
  bottom: 0;
  background-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
  height: 10%;
  color: white;
  padding: 0 10%;
  font-size: 1.25rem;
  justify-content: space-between;
  font-weight: bold;
}

.hideproceed {
  position: fixed;
  bottom: 5%;
  background-color: gray;
  width: 100%;
  height: 8%;
  display: none;
}

.attention {
  opacity: 0.5;
}
