.logopasar {
  width: 20%;
  position: absolute;
}

.logobarang {
  position: relative;
  top: 20%;
  left: 50%;
  height: auto;
  width: 60%;
  transform: translate(-50%, -50%);
}

.contentbarang {
  background-color: white;
  margin-top: 2%;
  width: 20%;
  border: 2px solid white;
  border-radius: 40px;
  height: 30vh;
  margin-right: 5%;
  position: relative;
}

.contentbarang:hover {
  border-color: blue;
}

.detailitem {
  position: absolute;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}

.summaryorder {
  background-color: gray;
  position: fixed;
  // border-radius: 25px;
  bottom: 0;
  width: 100%;
  padding: 14px 10px;
}

.hidesummary {
  background-color: gray;
  position: fixed;
  // border-radius: 25px;
  bottom: 5%;
  width: 100%;
  padding: 14px 10px;
  display: none;
}

.allpasar {
  display: block;
}

.input {
  border-radius: 25px;
}
.titlepasar {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  left: 0%;
  margin-left: 5%;
}

.listpasar {
  width: 90%;
  position: relative;
  background-color: white;
  padding: 10px;
  margin-right: 10%;
  margin-top: 4%;
  margin-left: 5%;
  border: 2px solid white;
  border-radius: 25px;
}

.listpasar:hover {
  border-color: #1a83ff;
}

.detailvalue {
  text-align: center;
}

.detailvaluealamat {
  text-align: center;
  width: 50%;
  font-size: 12px;
}

// .detailjarak {
//     margin-left: 5%;
//     border-right: 2px solid gray;
//     padding-right: 5%;
// }
.detailjarak,
.detailwaktu,
.detailalamat {
  margin-left: 5%;
  padding-right: 5%;
  padding-top: 0%;
}
