.logobarang {
    position: relative;
    align-items: center;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.squarelogo{
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    border:2px solid white ;
    border-radius: 25px;
    width: 80%;
}

.buyfrom {
    text-align: left;
    width: 50%;
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.buttonadd {
    margin-top: 5%;
    display: none;
}

.shownewbutton {
    margin-top: 5%;
}


.itemname {
    
    background-color: white;
    border-radius: 25px;
    text-align: left;
    padding: 5%;
}

.description {
    background-color: white;
    border-radius: 25px;
    text-align: left;
    padding: 5%;
}