@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

.introduction {
  min-height: 500px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  .introductionText {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 700px;
  }
}

.introduction::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    261deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%
  );
}

.tatacara {
  background: linear-gradient(
    180deg,
    rgba(170, 238, 201, 0) 27.37%,
    #aaeec9 69.53%
  );
  width: 100%;
  height: 100%;
}

.how {
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 80px;
}

.cara1,
.cara2,
.cara3,
.cara4 {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.imgcara {
  background-color: #c4c4c4;
  border-radius: 50%;
  padding: 25px;
}

.penjelasan {
  margin: 0 0 0 50px;
  width: 600px;
}

.judulcara {
  font-size: 24px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
}

.deskripsicara {
  font-size: 16px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
}

.logoV {
  height: 1em;
}

.header {
  /*height: 56px;*/
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 75px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
}

.button {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.buttonmasuk,
.buttondaftar {
  width: 70%;
  margin: 10px;
}

.about {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #000000;

  margin: 0 50px;
}
