.logopasar {
  width: 60px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.listpasar {
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  position: relative;
  background-color: white;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: 0 0 20px 0px rgba(100, 100, 100, 0.26);
}

.listpasar:hover {
  border-color: #1a83ff;
}

.detailpasar {
  text-align: center;
  font-size: 14px;
  position: relative;
  top: 40%;
}
