@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-breakpoint-down(md) {
    width: 400px;
  }
}

.input {
  position: relative;
  display: block;
  padding: 25px 60px 25px 20px;
  outline: none;
  border-radius: 25px;
}

.submit {
  display: block;
  font-size: 20px;
  color: white;
  height: 50px;
  width: 100%;
  border-radius: 25px;
}

.question {
  position: relative;
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.imgclient {
  position: relative;
  width: 100px;
}

.icon {
  width: 40px;
  position: absolute;
  right: 2%;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
