@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

@media only screen and (min-width: 300px) {
  .submit {
    display: block;
    font-size: 20px;
    color: white;
    width: 200px;
    height: 50px;
    border: 2px solid #2ad576;
    border-radius: 25px;
  }

  .question {
    font-size: 20px;
    text-align: center;
  }

  .logoheader {
    width: 40px;
    position: absolute;
    top: 2%;
    right: 20px;
  }
}

@media only screen and (min-width: 650px) {
  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .input {
    position: relative;
    display: block;
    padding: 25px 10px;
    outline: none;
    width: 500px;
    border: 2px solid white;
    border-radius: 25px;
  }

  .submit {
    display: block;
    font-size: 20px;
    color: white;
    width: 500px;
    height: 50px;
    border: 2px solid #2ad576;
    border-radius: 25px;
  }

  .question {
    font-size: 30px;
    text-align: center;
  }

  .logoheader {
    width: 40px;
    position: absolute;
    top: 2%;
    right: 20px;
  }
}
