.header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #3d3d3d;
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 900;
  position: fixed;
}

.sidebar {
  padding: 10px;
  position: absolute;
  width: 20%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #3d3d3d;
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
}

.foto {
  background-color: #c4c4c4;
  border-radius: 50%;
  padding: 25px;
  margin: 0 auto;
}

.hallo {
  margin: 0 auto;
}

.bagian {
  border-top: 1px solid #c4c4c4;
  width: 100%;
}

.tombol {
  width: 100%;
}
