.footer {
  width: 100%;
  left: 0px;
  bottom: 0px;
  align-items: center;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  background: #effef6;
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.imglogo {
  width: 70%;
  margin: 10px;
}

.fb {
  width: 30%;
  margin: 10px;
}

.ig {
  width: 27%;
  margin: 10px;
}
