@import "styles/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.header {
  position: fixed;
  width: 100%;
  min-height: $header-height;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 0 30px;
  z-index: 99;

  .navBrand {
    display: flex;
    align-items: center;
    height: $header-height;
    padding: 0;
    margin: 0;
  }

  .navLinks {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    @include media-breakpoint-down(md) {
      background-color: map-get($map: $theme-colors, $key: "primary");
      transition: 0.4s ease-in-out;
      color: white;
      position: fixed;
      flex-direction: column;
      left: 0;
      top: 0;
      width: 40%;
      height: 100vh;
      min-width: 300px;
      align-items: flex-start;
    }
    .navLink {
      font-weight: 500;
      border-bottom: 1px solid white;
      width: 100%;
      opacity: 0.7;
      transition: 0.3s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
    .navLinkActive {
      opacity: 1;
    }
  }
}

.screenOverlay {
  @include media-breakpoint-down(md) {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
