@import "styles/variables";

.pushHeader {
  padding-top: $header-height;
}

.layoutElmt {
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
