@mixin color-modifiers($attribute: "color") {
  @each $name, $hex in $extra-colors {
    &-#{$name} {
      #{$attribute}: $hex;
    }
  }
}

.text {
  @include color-modifiers;
}

.bg {
  @include color-modifiers($attribute: "background");
}
