@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.container-padding {
  padding-left: 100px;
  padding-right: 100px;
  @include media-breakpoint-down(md) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
