@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@mixin text-default-mixin($multiplier) {
  font-size: $multiplier * 1rem;
  margin-bottom: $multiplier * 10px;
}

p {
  @include text-default-mixin(1);
}

h3 {
  @include text-default-mixin(1.5);
}

h2 {
  @include text-default-mixin(2);
  font-weight: 600;
}

h1 {
  font-weight: bold;
  @include text-default-mixin(4);
}
